<h3 class="text-center">{{ idEmpresa == null ? 'Inclusão de Empresa' : 'Edição de Empresa: ' + idEmpresa }}</h3>

<form [formGroup]="formulario" class="needs-validation">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <p>* Os campos com (*) são obrigatórios!</p>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <app-input-field id="nome" label="* Nome" place="Nome" type="text" readOnly="!!isReadOnly" formControlName="nome" [classeValidacao]="verificaValidadeCampo('nome')">
      </app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('nome')" [mostrarErro]="mostraErro('nome')"></app-input-control-erro>
    </div>
    <div class="col-md-5 mb-3">
      <app-input-field id="razao_social" label="* Razão Social" place="Razão Social" type="text" readOnly="!!isReadOnly" formControlName="razao_social" [classeValidacao]="verificaValidadeCampo('razao_social')">
      </app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('razao_social')" [mostrarErro]="mostraErro('razao_social')"></app-input-control-erro>
    </div>
    <div class="col-md-3 mb-3">
      <label for="tipo-usuario">* Tipo da Empresa</label>
      <select class="custom-select custom-select" name="tipo" id="tipo" formControlName="tipo" [ngClass]="verificaValidadeCampo('tipo')">
        <option selected value="">Selecione o tipo da empresa</option>
        <option value="L.P.">Lucro Presumido</option>
        <option value="L.R.">Lucro Real</option>
        <option value="S.N.">Simples Nacional</option>
      </select>
      <app-input-control-erro [msgErro]="imprimeErro('tipo')" [mostrarErro]="mostraErro('tipo')"></app-input-control-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <app-input-field id="cnpj" (input)="formataCNPJ()"  label="* CNPJ" place="CNPJ" type="text" readOnly="!!isReadOnly" formControlName="cnpj" [classeValidacao]="verificaValidadeCampo('cnpj')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('cnpj')" [mostrarErro]="mostraErro('cnpj')"></app-input-control-erro>
    </div>
    <div class="col-md-4 mb-3">
      <app-input-field id="ie" label="IE" place="IE" type="text" readOnly="!!isReadOnly" formControlName="ie" [classeValidacao]="verificaValidadeCampo('ie')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('ie')" [mostrarErro]="mostraErro('ie')"></app-input-control-erro>
    </div>
    <div class="col-md-4 mb-3">
      <app-input-field id="im" label="IM" place="IM" type="text" readOnly="!!isReadOnly" formControlName="im" [classeValidacao]="verificaValidadeCampo('im')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('im')" [mostrarErro]="mostraErro('im')"></app-input-control-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <app-input-field id="telefone" label="Telefone" place="(xx) xxxx-xxxx" type="tel" readOnly="!!isReadOnly" formControlName="telefone" [classeValidacao]="verificaValidadeCampo('telefone')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('telefone')" [mostrarErro]="mostraErro('telefone')"></app-input-control-erro>
    </div>
    <div class="col-md-4 mb-3">
      <app-input-field id="whatsapp" label="WhastApp" place="(xx) xxxx-xxxx" type="tel" readOnly="!!isReadOnly" formControlName="whatsapp" [classeValidacao]="verificaValidadeCampo('whatsapp')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('whatsapp')" [mostrarErro]="mostraErro('whatsapp')"></app-input-control-erro>
    </div>
    <div class="col-md-4 mb-3">
      <app-input-field id="contato" label="Contato" place="Contato" type="text" readOnly="!!isReadOnly" formControlName="contato" [classeValidacao]="verificaValidadeCampo('contato')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('contato')" [mostrarErro]="mostraErro('contato')"></app-input-control-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <app-input-field id="email" label="Email" place="Email" type="email" readOnly="!!isReadOnly" formControlName="email" [classeValidacao]="verificaValidadeCampo('email')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('email')" [mostrarErro]="mostraErro('email')"></app-input-control-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <app-input-field id="cep" (input)="pesquisaCep($event)"  label="CEP" place="CEP" type="text" readOnly="!!isReadOnly" formControlName="cep" [classeValidacao]="verificaValidadeCampo('cep')"></app-input-field>
      {{ erroCep }}
      <app-input-control-erro [msgErro]="imprimeErro('cep')" [mostrarErro]="mostraErro('cep')"></app-input-control-erro>
    </div>
    <div class="col-md-7 mb-3">
      <app-input-field id="endereco" label="Endereço" place="Endereco" type="text" readOnly="!!isReadOnly" formControlName="endereco" [classeValidacao]="verificaValidadeCampo('endereco')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('endereco')" [mostrarErro]="mostraErro('endereco')"></app-input-control-erro>
    </div>
    <div class="col-md-2 mb-3">
      <app-input-field id="numero" label="Número" place="Número" type="text" readOnly="!!isReadOnly" formControlName="numero" [classeValidacao]="verificaValidadeCampo('numero')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('numero')" [mostrarErro]="mostraErro('numero')"></app-input-control-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-5 mb-3">
      <app-input-field id="complemento" label="Complemento" place="Complemento" type="text" readOnly="!!isReadOnly" formControlName="complemento" [classeValidacao]="verificaValidadeCampo('complemento')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('complemento')" [mostrarErro]="mostraErro('complemento')"></app-input-control-erro>
    </div>
    <div class="col-md-5 mb-3">
      <app-input-field id="bairro" label="Bairro" place="Bairro" type="text" readOnly="!!isReadOnly" formControlName="bairro" [classeValidacao]="verificaValidadeCampo('bairro')"></app-input-field>
      <app-input-control-erro [msgErro]="imprimeErro('bairro')" [mostrarErro]="mostraErro('bairro')"></app-input-control-erro>
    </div>
    <div class="col-md-2 mb-3">
      <label for="uf">UF</label>
      <select name="uf" id="uf" class="custom-select custom-select" formControlName="uf" [ngClass]="verificaValidadeCampo('uf')">
            <option *ngFor="let uf of estados"  value="{{ uf.nome }}">{{ uf.nome }}</option>
          </select>
          <!-- <app-input-field id="uf" label="UF" place="UF" type="text" readOnly="!!isReadOnly" formControlName="uf" [classeValidacao]="verificaValidadeCampo('uf')"></app-input-field> -->
          <app-input-control-erro [msgErro]="imprimeErro('uf')" [mostrarErro]="mostraErro('uf')"></app-input-control-erro>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <app-input-field id="codigo_municipio" label="Cod. Município" place="Código do Município" type="text" readOnly="!!isReadOnly" formControlName="codigo_municipio" [classeValidacao]="verificaValidadeCampo('codigo_municipio')"></app-input-field>
          <app-input-control-erro [msgErro]="imprimeErro('codigo_municipio')" [mostrarErro]="mostraErro('codigo_municipio')"></app-input-control-erro>
        </div>
        <div class="col-md-6 mb-3">
          <app-input-field id="cidade" label="Cidade" place="Cidade" type="text" readOnly="!!isReadOnly" formControlName="cidade" [classeValidacao]="verificaValidadeCampo('cidade')"></app-input-field>
          <app-input-control-erro [msgErro]="imprimeErro('cidade')" [mostrarErro]="mostraErro('cidade')"></app-input-control-erro>
        </div>
        <!-- <div class="col-md-3 mb-3">
          <app-input-field id="usuario" label="Usuário Responsável" place="Usuário" type="text" readOnly="!!isReadOnly" formControlName="usuario" [classeValidacao]="verificaValidadeCampo('usuario')"></app-input-field>
          <app-input-control-erro [msgErro]="imprimeErro('usuario')" [mostrarErro]="mostraErro('usuario')"></app-input-control-erro>
        </div> -->
        <div class="col-md-3 mb-3">
          <label for="usuario_id">* Usuário Responsável</label>
          <ng-select id="usuario_id" [items]="usuarios" bindValue='id_usuario' bindLabel="nome" [minTermLength]=3 [virtualScroll]=true
           [(ngModel)]="campoBuscaUsuario" formControlName="usuario_id" (input)="buscaUsuario($event)">

          </ng-select>
          <app-input-control-erro [msgErro]="imprimeErro('usuario_id')" [mostrarErro]="mostraErro('usuario_id')"></app-input-control-erro>
        </div>
      </div>

      <p *ngIf="empresa" >Data de criação: {{  formataData(empresa.created_at) }}</p>
      <p *ngIf="empresa" >Data de atualizaçâo: {{  formataData(empresa.updated_at) }}</p>
      <input type="text" class="form-control" formControlName="id_empresa" hidden id="id" name="id_empresa" />
      <button class="btn btn-secondary mb-2 mr-2" type="button" (click)="gravarForm()"><i class="fas fa-save"></i> Gravar</button>
      <button class="btn btn-danger mb-2" type="button" (click)="cancelarForm()"><i class="fas fa-undo-alt"></i> Cancelar</button>
    </form>
    <ngx-spinner></ngx-spinner>

