

  <h3 class="text-center">Usuários</h3>
  <button class="btn btn-primary" (click)="onNew()">Novo</button>
  <h6 *ngIf="this.usuarios != null ? this.usuarios.length : '' " >Total de registros: {{ this.totalRegistros }}</h6>

  <table class="table table-hover table-striped table-responsive-md" *ngIf="this.usuarios != null" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Login</th>
        <th scope="col">Tipo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios" >
        <th scope="row">{{ u.id_usuario }}</th>
        <td>{{ u.nome }}</td>
        <td>{{ u.login }}</td>
        <td>{{ u.tipo_usuario }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="onEdit(u.id_usuario)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(u)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="totalRegistros == 0" >
    <h4 class="text-center">Nenhum registro encontrado!</h4>
  </div>
