

  <h3 class="text-center">Usuários</h3>
  <button class="btn btn-primary mb-2" (click)="onNew()" *ngIf="usuarioLogado.tipo_usuario.tipo == 'GERENTE'" ><i class="fas fa-plus"></i> Novo usuário</button>
  <div class="row">

    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4 mb-2 form-inline justify-content-end">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Busca" (input)="buscaDados()" [(ngModel)]="campoBusca">
      </div>
      <!-- <button class="btn btn-outline-primary mt-2 my-2 my-sm-0">Buscar</button> -->
    </div>
  </div>
  <h6 *ngIf="this.usuarios != null ? this.usuarios.length : '' " >Total de registros: {{ this.totalRegistros }}</h6>

  <table class="table table-sm table-striped table-hover table-bordered table-responsive-md" *ngIf="this.usuarios != null" >
    <thead class="table-active">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Login</th>
        <th scope="col">Tipo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios | paginate: { itemsPerPage: 10, currentPage: paginaAtual , totalItems: totalRegistros }" class="align-self-center">
        <th scope="row">{{ u.id_usuario }}</th>
        <td>{{ u.nome }}</td>
        <td>{{ u.login }}</td>
        <td>{{ u.tipo_usuario.tipo }}</td>
        <td>
          <button type="button" class="btn btn-info mr-2 mb-2" (click)="onEdit(u.id_usuario)"><i class="fas fa-edit"></i> Editar</button>
          <button type="button" class="btn btn-danger mb-2" (click)="onDelete(u)" *ngIf="usuarioLogado.tipo_usuario.tipo == 'GERENTE'"><i class="fas fa-trash-alt"></i> Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

    <pagination-template class="pagination justify-content-end mr-5 mb-3" #p="paginationApi"
                       (pageChange)="pageChange.emit($event)"
                       (pageBoundsCorrection)="pageBoundsCorrection.emit($event)">
          <div class="page-item" [class.disabled]="p.isFirstPage()">
              <a  class="page-link" *ngIf="!p.isFirstPage()" (click)="previous(paginaAtual)"> &laquo; </a>
          </div>

          <div class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <a class="page-link" (click)="setarPagina(page.value)" *ngIf="p.getCurrent() !== page.value">
                  <span>{{ page.label }}</span>
              </a>
              <div class="page-item" *ngIf="p.getCurrent() === page.value">
                  <span class="page-link">{{ page.label }}</span>
              </div>
          </div>

          <div class="page-item" class="page-item" [class.disabled]="p.isLastPage()">
              <a class="page-link" *ngIf="!p.isLastPage()" (click)="next(paginaAtual)"> &raquo; </a>
          </div>

    </pagination-template>

  <div *ngIf="totalRegistros == 0" >
    <h4 class="text-center">Nenhum registro encontrado!</h4>
  </div>
  <ngx-spinner></ngx-spinner>
