<h3 class="text-center">Controles</h3>

<div *ngIf="empresa" >
  <hr>
    <h4>{{ empresa ? empresa.nome : '' }} - {{ empresa ? empresa.id_empresa : ''}}</h4>
    <h6>Responsável: {{ empresa ? empresa.usuario.nome : ''}}</h6>
    <hr>
</div>
<form [formGroup]="formulario" class="needs-validation">
  <div class="form-row">
    <div class="col-md-1">
      <label for="ano">Ano</label>
      <input name="ano" (keyup)="validaAno()" type="text" placeholder="Ex:  2020" size="5" class="text-center" [ngClass]="verificaValidadeCampo('ano')" formControlName="ano" [disabled]="editando" required/>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-1">
      <label for="jan">Janeiro</label>
      <select class="form-control text-center custom-select-sm" name="jan" id="jan" formControlName="jan">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="fev">Fevereiro</label>
      <select class="form-control text-center custom-select-sm" name="fev" id="fev" formControlName="fev">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="mar">Março</label>
      <select class="form-control text-center custom-select-sm" name="mar" id="mar" formControlName="mar">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="abr">Abril</label>
      <select class="form-control text-center custom-select-sm" name="abr" id="abr" formControlName="abr">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="mai">Maio</label>
      <select class="form-control text-center custom-select-sm" name="mai" id="mai" formControlName="mai">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="jun">Junho</label>
      <select class="form-control text-center custom-select-sm" name="jun" id="jun" formControlName="jun">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="julho">Julho</label>
      <select class="form-control"text-center  na custom-select-smme="julho" id="julho" formControlName="jul">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="ago">Agosto</label>
      <select class="form-control"text-center  na custom-select-smme="ago" Agosto="ago" formControlName="ago">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="set">Setembro</label>
      <select class="form-control text-center custom-select-sm" name="set" id="set" formControlName="set">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="out">Outubro</label>
      <select class="form-control text-center custom-select-sm" name="out" id="out" formControlName="out">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="nov">Novembro</label>
      <select class="form-control text-center custom-select-sm" name="nov" id="nov" formControlName="nov">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="col-md-1">
      <label for="dez">Dezembro</label>
      <select class="form-control text-center custom-select-sm" name="dez" id="dez" formControlName="dez">
        <option value=""></option>
        <option value="OK">OK</option>
        <option value="X">X</option>
      </select>
    </div>
    <div class="for-group row mt-2">
      <div class="col-md-12">
        <input type="hidden" name="id_empresa" formControlName="empresa_id">
        <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="gravar()" ><i class="fas fa-save"></i> Gravar controle</button>
      </div>
    </div>
    <div class="for-group row mt-2">
      <div class="col-md-12">
        <p>*Campo ano é obrigatório</p>
      </div>
    </div>
    <div class="for-row mt-2">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" (click)="onBack()" ><i class="fas fa-undo-alt"></i>  Voltar</button>
      </div>
    </div>
  </div>
</form>
<ngx-spinner></ngx-spinner>
