<h3 class="text-center">Controles</h3>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-active">
    <th>Ano</th>
    <th>JAN</th>
    <th>FEV</th>
    <th>MAR</th>
    <th>ABR</th>
    <th>MAI</th>
    <th>JUN</th>
    <th>JUL</th>
    <th>AGO</th>
    <th>SET</th>
    <th>OUT</th>
    <th>NOV</th>
    <th>DEZ</th>
    <th>OBS</th>
    <th>Controle</th>
  </thead>
  <tbody>
    <tr *ngFor="let c of controles" >
      <td>{{ c.ano }}</td>
      <td>{{ c.jan }}</td>
      <td>{{ c.fev }}</td>
      <td>{{ c.mar }}</td>
      <td>{{ c.abr }}</td>
      <td>{{ c.mai }}</td>
      <td>{{ c.jun }}</td>
      <td>{{ c.jul }}</td>
      <td>{{ c.ago }}</td>
      <td>{{ c.set }}</td>
      <td>{{ c.out }}</td>
      <td>{{ c.nov }}</td>
      <td>{{ c.dez }}</td>
      <td>OBS</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-secondary btn-sm">Atualizar</button>
      </td>
    </tr>
  </tbody>
</table>
