<h3 class="text-center">Controles</h3>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-active">
    <th>Ano</th>
    <th>JAN</th>
    <th>FEV</th>
    <th>MAR</th>
    <th>ABR</th>
    <th>MAI</th>
    <th>JUN</th>
    <th>JUL</th>
    <th>AGO</th>
    <th>SET</th>
    <th>OUT</th>
    <th>NOV</th>
    <th>DEZ</th>
    <th>OBS</th>
    <th>Controle</th>
  </thead>
  <tbody>
    <tr >
      <td>Ano</td>
      <td>JAN</td>
      <td>FEV</td>
      <td>MAR</td>
      <td>ABR</td>
      <td>MAI</td>
      <td>JUN</td>
      <td>JUL</td>
      <td>AGO</td>
      <td>SET</td>
      <td>OUT</td>
      <td>NOV</td>
      <td>DEZ</td>
      <td>OBS</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-secondary btn-sm">Atualizar</button>
      </td>
    </tr>
  </tbody>
</table>
