<h3 class="text-center">Empresas</h3>
<table class="table table-sm table-striped table-hover table-bordered table-responsive-md">
  <thead class="table-active">
    <th>Empresa</th>
    <th>Código</th>
    <th>Ação</th>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas" >
      <td>{{ empresa.nome }} - ({{ empresa.cnpj }})</td>
      <td>{{ empresa.id_empresa }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" (click)="controle(empresa.id_empresa)">Controle</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="importador(empresa.id_empresa)">Importador</button>
      </td>
    </tr>
  </tbody>
</table>
