<footer class="main-footer">
  <img src="assets/imagens/logo-light.png" alt="Otimizador Contábil" class="brand-image img-circle elevation-3"
         style="opacity: 1; height: 50px;">
  <strong>  Otimizador - Projeto Integrador I - 2020; <a href="http://localhost:4200">Otimizador</a>.</strong>
  Todos os direitos reservados
  <div class="float-right d-none d-sm-inline-block">
    <b>Versão</b> 0.0.1
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
