<h3 class="text-center">Observações</h3>

<div *ngIf="empresa" >
  <hr>
    <h4>{{ empresa ? empresa.nome : '' }} - {{ empresa ? empresa.id_empresa : ''}}</h4>
    <h4>Responsável: {{ empresa ? empresa.usuario.nome : '' }} </h4>
    <hr>
</div>
<h5>Ano Controle: {{ observacoes ? observacoes[0].controles.ano : '' }}</h5>
<button class="btn btn-primary mb-2 mt-2">Novo</button>
<table class="table table-sm table-striped table-hover table-bordered table-responsive-sm">
  <thead class="table-active">
    <th>Mês Referência</th>
    <th>Observação</th>
    <th>Estado</th>
    <th>Ação</th>
  </thead>
  <tbody>
    <tr *ngFor="let o of observacoes" >
      <td class="text-center">{{ o.mes_referencia }}</td>
      <td class="text-center">{{ o.observacao }}</td>
      <td>***Pendente***</td>
      <td>Ação</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="onBack()" >Voltar</button>
